@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Squada+One&display=swap');

:root{

  --purple: #0e0d0d;
  --purple2: #161616;
  --white: #e4e4e4;
  --list-color: #202022;
  
  
  /* --purple: #703eef;
  --purple2: #582dc4;
  --white: #e4e4e4;
  --list-color: #1A1A40; */
}

::selection {
  background-color: #ffffff; 
  color: #000000; 
}

.no-highlight {
  -webkit-user-select: none;  /* Safari */
  -moz-user-select: none;     /* Firefox */
  -ms-user-select: none;      /* Internet Explorer/Edge */
  user-select: none;          /* Standard */
}


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: var(--white);
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  font-family: "Squada One";
}

.TodoWrapper {
  background: var(--list-color);
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid var(--purple);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: var(--white);
  font-family: "Paytone One";
  transition: all .2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.todo-input::placeholder {
  color: #ffffff4d;
}

input:not(:placeholder-shown){
  background: var(--purple);
  margin-right: 20px;
}

.todo-btn {
  background: var(--purple);
  color: var(--white);
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  font-family: "Paytone One";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.todo-btn:hover {
  background-color: var(--purple2);
  /* animation: shake 0.3s ease-in-out; */
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--white);
  color: var(--purple);
  padding: 1.2rem 1rem;
  border-radius: 5px;
  margin-bottom: 1.3rem;
  cursor: pointer;
  transition: all .2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  
}

.todo p{
  font-family: "Paytone One";
  width: 220px;
  word-wrap: break-word;
  text-align: left;
}

.fa-eye {
  margin-left: 0.75rem;
}

.completed {
  color: var(--white);
  cursor: pointer;
}

.completed-bar{
  background: #000000;
  margin-left: 40px;
  animation: scale-revert1 0.3s ease-in-out;

}

@keyframes scale-revert1 {
  0% {
    transform: scale(.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}

.shake{
  animation: shake 0.3s ease-in-out;
  background-color: red;
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-3px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(3px);
  }
}

.todolist-identifier{
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
}

.todolist-identifier h2{
  font-family: "Paytone One";
  font-size: 14px;
  margin-left: 8px;
  font-weight: 100;
  color: greenyellow;
}

.todolist-identifier-text{
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;

    
    font-size: 18px;
    font-weight: 100;
    width: 200px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.todolist-identifier span{
  font-family: "Paytone One";
  font-weight: 100;
  font-size: 15px;
  margin-right: 10px;
}

.TodoWrapper h1{
  font-weight: 600;
}

.copy-icon{
  color: var(--white);
  margin-left: 8px;
  cursor: pointer;
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  transition: all .15s;
  scale: 1.3;
  padding-top: 10px;
  padding-bottom: 10px;
  
}

.edit-icon{
  padding-left: 14px;
}

.delete-icon{
  padding-left: 9px;
  margin-left: 18px;
  padding-right: 7px;

}


.delete-icon:hover, .edit-icon:hover {
  transform: scale(1.3);
}

.delete-icon:hover{
  color: red;
}


.blink-logo {
  margin-top: 30px;
  font-size: 120px;
  font-weight: 800;
  letter-spacing: 9px;
}

