@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Squada+One&display=swap');

:root{
  --purple: #703eef;
  --purple2: #582dc4;
}


* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;
}

.App {
  text-align: center;
}

h1 {
  color: #fff;
  margin-bottom: 0.5rem;
  font-size: 1.75rem;
  font-family: "Squada One";
}

.TodoWrapper {
  background: #1A1A40;
  margin-top: 5rem;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.TodoForm {
  width: 100%;
  margin-bottom: 1rem;
}

.todo-input {
  outline: none;
  background: none;
  border: 1px solid var(--purple);
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 300px;
  color: #fff;
  font-family: "Paytone One";
  transition: all .2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
}

.todo-input::placeholder {
  color: #ffffff4d;
}

input:not(:placeholder-shown){
  background: var(--purple);
  margin-right: 20px;
}

.todo-btn {
  background: var(--purple);
  color: #ffffff;
  border: none;
  padding: 0.55rem;
  cursor: pointer;
  font-family: "Paytone One";
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  
}

.todo-btn:hover {
  background-color: var(--purple2);
  /* animation: shake 0.3s ease-in-out; */
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--purple);
  color: #fff;
  padding: 1.2rem 1rem;
  border-radius: 5px;
  margin-bottom: 1.3rem;
  cursor: pointer;
  transition: all .2s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  
}

.todo p{
  font-family: "Paytone One";
}

.todo:hover{
  border-right: 1px solid #fff;
}

.fa-eye {
  margin-left: 0.75rem;
}

.incompleted {
  color: #fff;
  cursor: pointer;
}

.completed {
  color: #d095f3;
  cursor: pointer;
}

.completed-bar{
  background: #000000;
  margin-left: 1.5rem;
  animation: scale-revert1 0.3s ease-in-out;

}

@keyframes scale-revert1 {
  0% {
    transform: scale(.9);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-2px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(2px);
  }
}

.edit-icon,
.delete-icon {
  cursor: pointer;
  transition: all .15s;
  scale: 1.3;
  padding-top: 10px;
  padding-bottom: 10px;
}

.delete-icon{
  margin-left: 24px;
}


.delete-icon:hover, .edit-icon:hover {
  transform: scale(1.3);
  color: #ac90d1;
}


.blink-logo {
  margin-top: 30px;
  font-size: 120px;
  font-weight: 800;
  letter-spacing: 9px;
}